.bg-block-yellow {
    background-color:#fdd116;
}

.bg-block-white {
    background-color:#f1eee5;
}

.bg-block-brown {
    background-color: #5b514b;
}

.bg-nav-brown {
    background-color: #4f474e;
}

