@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:wght@300;400&family=Roboto:wght@100;400;700&display=swap');
header {
    background-image:url("../images/Home_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    border-bottom:solid #fdd116 10px;
}

.tara-na-logo {
    height: 25vh;
}

header #h-big-text h1,
header #h-big-text h2 {
    font-family: 'Lato', sans-serif;
}

#sec1 a {
    font-size: 1.1rem;
}

.dropdown {
    width: 90%;
}
